span.italic {
    font-style: italic;
}

/*
span {
    color: red;
}
 */

span.red {
    color: red;
}

#darkmagenta {
    color: darkmagenta;
}

span.blue {
    color: blue;
}

span.code {
    font-family: "Courier New", Courier, monospace;
}

#green, #also_green {
    color: green;
}

ul.parent span {
    color: olive;
}

li.parent > span {
    color: darkgoldenrod;
}

/*
h2 + p {
    color: darkmagenta;
}
*/

li.parent + li span {
    color: darkcyan;
}

a.cool_ref {
    display: block;
}
