* {
    box-sizing: border-box;
}

.header, .footer {
    background-color: olive;
    color: white;
    padding: 15px;
}

.column {
    float: left;
    padding: 15px;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: green;
    color: white;
}

.menu li:hover {
    background-color: yellowgreen;
}

.clear {
    clear: both;
}