h1 {
    margin-left: 10%;
}

span.italic {
    font-style: italic;
}

/*
span {
    color: red;
}
 */

span.red {
    color: red;
}

#darkmagenta {
    color: darkmagenta;
}

span.blue {
    color: blue;
}

span.code {
    font-family: "Courier New", Courier, monospace;
}

#green, #also_green {
    color: green;
}

ul.parent span {
    color: olive;
}

li.parent > span {
    color: darkgoldenrod;
}

/*
h2 + p {
    color: darkmagenta;
}
*/

li.parent + li span {
    color: darkcyan;
}

a.cool_ref {
    display: block;
}

a:visited {
    color: olive;
}

h2:hover {
    color: darkslategrey;
}

#selectors {
    width: 80%;
    margin: auto;
    border: green solid;
    padding: 8px 16px;
    box-sizing: border-box;
}